* {
	margin: 0px;
	padding: 0px;
}

.title {
	padding: 40px;
	text-align: center;
}

.sub-title {
    padding-bottom: 5px;
    text-align: left;
}

/* BACKSTORY SECTION */

.important-info {
	color: green;
	border-width:3px;
	border-style:solid;
	border-color:green;
}

.backstory-img {
	padding-top: 5px;
	padding-left: 60px;
	width: 80%;
}

/* PEOPLE SECTION */
#john-smith {
    width: 60%;
    border-width:5px;
	border-style:solid;
	border-color: green;
    border-radius: 10px;
} /* for new peoples photos: check the resolution of the placeholder and use 
photoshop to crop the image to the same size (so i dont have to redo the CSS) */

.roll {
    margin: 0;
    padding-top: 8px;
    font-weight: 650;
}


/* SERVICES SECTION */
#removal {
    padding-top: 25px;
}

.carousel {
    height: 32rem;
    width: 32rem;
}

.carousel:before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    padding-top:31.7rem;
    border:5px solid green;
    /* border-radius: 5px; */
    z-index:5;
    pointer-events:none;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 40px;
}

.carousel-item {
    height: 32rem;
    width: 32rem;
    background: black;
    color: white;
    position: relative;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

/* REVIEW SECTION */
.container {
	padding: 0;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
	color: white;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: rgb(48, 182, 0);
    transform: scale(1.01);
    background-color: white;
    box-shadow: 0 0px 5px 0px #cbc0c0;
	color: #10102a;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

.review-text {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
}


@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

/* FAQ SECTION */