body {
    background-color: #f6f6f6;
}

.booking-form {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.responsive-iframe {
    width: 100%;
}