* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-title {
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item-card {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 259px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
}

.card-container {
    padding: 20px;
}

.item-title {
    font-size: 18px;
    line-height: 20px;
}

.price {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.buy-button {
    font-size: 18px;
    color: #ffffff;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 6px;
}

.buy-button:hover {
    transform: scale(1.04);
    background-color: green;
    color: #FFFFFF;
}